*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.Logo {
    width: 110px;
}

.text-decoration-none {
    font-family: 'Montserrat', sans-serif;
}

.card {
    background-image: url(./images/Jungle\ Safari.jpg);
    background-size: cover;
}

.Icons {
    width: 1.6rem;
}

.fw-bold{
    font-family: 'Playfair Display', serif;
}